body {
  height: 95vh;
  width: 95;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

H1 {
  color: rgb(18, 88, 18);
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}